
{% extends 'base.html' %}

{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Daily Blog </h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to Bazar.com</p>
                </div>
            </div>
        </header>

        <div class="col-lg-12">
            <div class="blog-content-wrap">
                <div class="row">
                    <div class="col-md-6">
                        <!-- Single Blog Item Start -->
                        <div class="single-blog-wrap">
                            <figure class="blog-thumb">
                                <a href="single-blog.html"><img src="assets/img/blog-thumb.jpg" alt="blog"
                                                                class="img-fluid"/></a>
                                <figcaption class="blog-icon">
                                    <a href="single-blog.html"><i class="fa fa-file-image-o"></i></a>
                                </figcaption>
                            </figure>

                            <div class="blog-details">
                                <h3><a href="single-blog.html">Mirum est notare quam</a></h3>
                                <span class="post-date">20/June/2018</span>
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram,
                                    anteposuerit
                                    litterarum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut
                                    consequuntur debitis, deserunt distinctio doloremque explicabo fuga maiores
                                    necessitatibus quisquam quos repudiandae suscipit tempore totam
                                    voluptatibus.</p>
                                <a href="single-blog.html" class="btn-long-arrow">Read More</a>
                            </div>
                        </div>
                        <!-- Single Blog Item End -->
                    </div>

                    <div class="col-md-6">
                        <!-- Single Blog Item Start -->
                        <div class="single-blog-wrap">
                            <figure class="blog-thumb">
                                <a href="single-blog.html"><img src="assets/img/blog-thumb-2.jpg" alt="blog"
                                                                class="img-fluid"/></a>
                                <figcaption class="blog-icon">
                                    <a href="single-blog.html"><i class="fa fa-file-image-o"></i></a>
                                </figcaption>
                            </figure>

                            <div class="blog-details">
                                <h3><a href="single-blog.html">Mirum est notare quam</a></h3>
                                <span class="post-date">20/June/2018</span>
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram,
                                    anteposuerit
                                    litterarum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut
                                    consequuntur debitis, deserunt distinctio doloremque explicabo fuga maiores
                                    necessitatibus quisquam quos repudiandae suscipit tempore totam
                                    voluptatibus.</p>
                                <a href="single-blog.html" class="btn-long-arrow">Read More</a>
                            </div>
                        </div>
                        <!-- Single Blog Item End -->
                    </div>

                    <div class="col-md-6">
                        <!-- Single Blog Item Start -->
                        <div class="single-blog-wrap">
                            <figure class="blog-thumb">
                                <a href="single-blog.html"><img src="assets/img/blog-thumb-3.jpg" alt="blog"
                                                                class="img-fluid"/></a>
                                <figcaption class="blog-icon">
                                    <a href="single-blog.html"><i class="fa fa-file-image-o"></i></a>
                                </figcaption>
                            </figure>

                            <div class="blog-details">
                                <h3><a href="single-blog.html">Mirum est notare quam</a></h3>
                                <span class="post-date">20/June/2018</span>
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram,
                                    anteposuerit
                                    litterarum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut
                                    consequuntur debitis, deserunt distinctio doloremque explicabo fuga maiores
                                    necessitatibus quisquam quos repudiandae suscipit tempore totam
                                    voluptatibus.</p>
                                <a href="single-blog.html" class="btn-long-arrow">Read More</a>
                            </div>
                        </div>
                        <!-- Single Blog Item End -->
                    </div>

                    <div class="col-md-6">
                        <!-- Single Blog Item Start -->
                        <div class="single-blog-wrap">
                            <figure class="blog-thumb">
                                <a href="single-blog.html"><img src="assets/img/blog-thumb-2.jpg" alt="blog"
                                                                class="img-fluid"/></a>
                                <figcaption class="blog-icon">
                                    <a href="single-blog.html"><i class="fa fa-file-image-o"></i></a>
                                </figcaption>
                            </figure>

                            <div class="blog-details">
                                <h3><a href="single-blog.html">Mirum est notare quam</a></h3>
                                <span class="post-date">20/June/2018</span>
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram,
                                    anteposuerit
                                    litterarum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut
                                    consequuntur debitis, deserunt distinctio doloremque explicabo fuga maiores
                                    necessitatibus quisquam quos repudiandae suscipit tempore totam
                                    voluptatibus.</p>
                                <a href="single-blog.html" class="btn-long-arrow">Read More</a>
                            </div>
                        </div>
                        <!-- Single Blog Item End -->
                    </div>
                </div>
            </div>

{% endblock %}